@using MudBlazor
@using Neapolitana.Web.Client.Layout
@inherits LayoutComponentBase


<div class="page">

    <main>
        <MudThemeProvider />
        <MudDialogProvider />
        <MudSnackbarProvider />
        <NavMenu />

        <article class="content px-4">
            @Body
           
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
